PORT=3000
MONGO_URI=
# MONGO_URI=mongodb+srv://gourangabhunia657_db_user:Gouranga2005@cluster0.z8apijf.mongodb.net/Campus
JWT_SECRET=campus_coding_arena_super_secret

JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173
HF_TOKEN=

CODE_RUNNER_URL=
CODE_RUNNER_API_KEY=replace-with-a-long-random-secret

JUDGE0_URL=http://localhost:10000
REDIS_URL=rediss://

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=